<h1>Employees#show</h1>
<p>Find me in app/views/employees/show.html.erb</p>

<div><strong>First_name: </strong><%= @emp.first_name %></div>
<div><strong>Middle_name: </strong><%= @emp.middle_name %></div>
<div><strong>Last_name: </strong><%= @emp.last_name %></div>
<div><strong>Email: </strong><%= @emp.personal_email %></div>
<div><strong>City: </strong><%= @emp.city %></div>
<div><strong>State: </strong><%= @emp.state %></div>
<div><strong>Country: </strong><%= @emp.country %></div>
<div><strong>Pincode: </strong><%= @emp.pincode %></div>
<div><strong>Address_1: </strong><%= @emp.address_1 %></div>
<div><strong>Address_2: </strong><%= @emp.address_2 %></div>

<td><%= link_to 'Delete', employee_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></td></br>
 <td><%= link_to 'Edit', edit_employee_path %></td>
 </br>
 <%= link_to 'Cancel and return to employee listing', employees_path %>


