<!DOCTYPE html>
<html>
  <head>
    <title>EmployeesDetails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    

       <% if user_signed_in? %>
       <strong><%= current_user.email %></strong>
        <%= link_to "logout ", destroy_user_session_path , data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  %> ||
        <%= link_to "edit profile" ,edit_user_registration_path %> 
         <% else %>
        <%= link_to "sign up", new_user_registration_path %> ||
        <%= link_to "login", new_user_session_path %> 
        <% end %>

    <%= yield %>
  </body>
</html>
